/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  place-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.display-none {
  display: none;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-background-dark: #000;
  --white: #fff;
  --dark-gold: #8e793e;
  --medium-gold: #d6b728;
  --light-gold: #ffd700;
  --intellectual-grey: #231f20;
  --light-grey: #eaeaea;
}

body {
  background-color: var(--white);
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

button {
  font-weight: 600;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
  height: 6rem;
  background-color: var(--light-grey);
}

header > div {
  align-items: center;
}

figure img {
  line-height: 6rem;
  height: 4rem;
}

nav ul li a, nav ul li {
  line-height: 6rem;
  list-style: none;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--intellectual-grey);
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Hero Banner                                          */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.hero-banner {
  background: #fff url(../media/hero-banner.jpg) center / cover no-repeat;
  height: 50rem;
  position: relative;
}

.hero-banner::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 0.7);
  content: '';
}

.hero-content {
  max-width: 70rem;
  width: 100%;
  z-index: 999;
  flex-direction: column;
  align-items: center;
  text-align: center;

  h2 {
    font-size: 5rem;
    color: var(--white);
  }

  p {
    font-size: 2rem;
    color: var(--white);
  }

  button {
    border: 2px solid var(--light-gold);
    background-color: transparent;
    color: var(--light-gold);
    padding: .6rem 1.3rem;
  }

  button a {
    list-style: none;
    text-decoration: none;
    color: inherit;
  }

  button:hover {
    background-color: var(--light-gold);
    color: var(--intellectual-grey);
  }
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Section Heading                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.section-heading {
  padding: 80px 0 20px;
  text-align: center;
}

.section-intro {
  text-transform: uppercase;
  color: var(--medium-gold);
  font-weight: 600;
  font-size: 1.8rem;
}

.section-name {
  font-size: 4rem;
  font-weight: 700;
  color: var(--intellectual-grey);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  About                                                */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#about {
  padding-bottom: 80px;
}

.about-container {
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.about-image {
  flex: 1;
  overflow: hidden;
}

.about-image img {
  max-width: 100%;
  height: auto;
  display: block;
  transition: all 0.25s ease-in-out;
}

.about-image img:hover {
  transform: scale(1.1);
}

.about-content {
  flex: 1;
  flex-direction: column;
}

.about-content h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--dark-gold);
  line-height: 1;
}

.about-content p {
  font-size: 1.8rem;
  line-height: 1.5;
}

.read-more {
  display: inline-block;
  width: 10rem;
  padding: .6rem;
  border: 2px solid var(--dark-gold);
  background-color: var(--dark-gold);
  color: var(--light-grey);
}

.read-more:hover {
  background-color: transparent;
  color: var(--dark-gold);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  How it Works                                         */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#how-it-works {
  background-color: var(--light-grey);
  padding-bottom: 80px;
}

.steps-container {
  flex-wrap: wrap;
}

.card {
  flex: 0 0 calc(25% - 1.5rem);
  max-width: calc(25% - 1.5rem);
  height: 20rem;
  border-radius: 6px;
  background-color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--intellectual-grey);
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 0 0 3px rgb(255 255 255 / 0.15);
}

.card-icon {
  font-size: 3.8rem;
  background: var(--dark-gold);
  width: 8rem;
  height: 8rem;
  text-align: center;
  line-height: 8rem;
  border-radius: 50%;
  transition: 0.25s ease-in-out;
}

.card p {
  margin-top: 1.5rem;
  font-size: 1.8rem;
  font-weight: 600;
  max-height: 0;
  opacity: 0;
  transition: 0.25s ease-in-out;
  color: var(--intellectual-grey);
}

/* targets p when card is hovered over */
.card:hover p {
  opacity: 1;
  color: var(--intellectual-grey);
}

/* targets icon when card is hovered over */
.card:hover .card-icon {
  background: none;
  color: var(--dark-gold);
  transform: scale(1.5); 
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Map                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#track {
  padding-bottom: 80px;
}

.map-container {
  flex-direction: column;
  align-items: center;
}

.track-button {
  width: 10rem;
  padding: .6rem;
  border: 2px solid var(--dark-gold);
  background-color: var(--dark-gold);
  color: var(--white);
}

.track-button:hover {
  background-color: transparent;
  color: var(--dark-gold);
}

.map-wrapper {
  width: 100%;
  height: 45rem;
  background-color: var(--light-grey);
  position: relative;
}

#map {
  width: 100%;
  height: 100%;
}

.no-map-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--intellectual-grey);
  font-size: 2.2rem;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Footer                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
footer {
  background-color: var(--intellectual-grey);
  height: 7rem;
}

.social-media-wrapper i {
  font-size: 2.2rem;
  color: var(--light-grey);
  line-height: 7rem;
  transition: color 0.25s ease-in-out;
}

footer p {
  line-height: 7rem;
  font-weight: 600;
  color: var(--light-grey);
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Media Queries                                        */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
  }

  .about-container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .card {
    flex: 0 0 100%;
    max-width: 100%;
  }
}