/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Utility Classes                                      */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  display: grid;
  place-items: center;
}

.space-between {
  justify-content: space-between;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Base                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */

:root {
  --app-background-dark: #000;
  --white: #fff;
  --dark-gold: #8e793e;
  --light-gold: #ad974f;
  --intellectual-grey: #231f20;
  --light-grey: #eaeaea;
}

body {
  background-color: var(--white);
  font-family: 'Noto Sans', 'Open Sans', arial, sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Header                                               */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
header {
  height: 6rem;
}

header > div {
  align-items: center;
}

figure img {
  line-height: 6rem;
  height: 4rem;
}

nav ul li {
  line-height: 6rem;
  list-style: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--intellectual-grey);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.25s ease-in-out;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Map                                                  */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#map {
  margin-top: 50px;
  width: 100%;
  height: 40rem;
}